repos:
- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
    - id: fmt
    - id: cargo-check
- repo: local
  hooks:
    - id: clippy
      name: clippy
      entry: cargo clippy --all-targets --all-features
      language: system
      types: [rust]
      pass_filenames: false
